<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-toolbar>Navigation</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-list-item routerLink="/car-grid" routerLinkActive="active">Car Grid</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Car Management Dashboard</span>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  