<div class="mb-2" style="margin-bottom: 10px;">
  <button (click)="onAddCar()">➕ Add Car</button>
  <button (click)="onDeleteSelected()">🗑️ Delete Selected</button>
</div>

<div *ngIf="loading" style="margin-bottom: 10px; font-weight: bold;">
  ⏳ Loading cars...
</div>

<ng-container *ngIf="isBrowser">
  <ag-grid-angular
  style="width: 100%; height: 600px"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  rowSelection="multiple"
  [context]="{ componentParent: this }"
></ag-grid-angular>

</ng-container>
